/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */
.form-container {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:490px;

    width: 300px;
}
.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2316d4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.form-container input[type="submit"]:hover {
    background-color: #45a049;
}