{% extends 'base.html' %}
<!-- {% include 'header.html' %} -->
 {% block content %}
    <section class="hero">
        <h1>Welcome to Our Website</h1>
        <p>Discover what we can offer</p>
        <!-- this section of block gets appear in the block of base.html -->
    </section>
 {% endblock %}
<!-- {% include 'footer.html' %} -->
<!-- ================================================================================================================= -->

   <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
   dictionary key will be assessd here -->
  
<!-- </head>
<body>
    <h1>this is the beginnig of the django era</h1>
    {% for item in clist %}
    <div>{{forloop.counter}} {{item}}</div>
     {% endfor %}

     <table border="1" padding="2">
        <tr> 
            <th>name</th>
        <th>phone</th></tr>
       {% for n in student %}
        <tr>
        <td>{{n.name}}</td>
        <td>{{n.phone}}</td>
        </tr>
        {% endfor %}
     </table>
</body> -->
<!-- </html> --> 
    <!-- {% comment %} for rendering html page in browser we need to first setup the template in settings.py {% endcomment %} -->
<!-- =============================================================================================================================== -->
   
